*{
    margin: 0;
}

.contenedor{
    background: rgb(93, 13, 130);
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: xx-large;
    
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
    background: rgb(12, 177, 70);
}

#noBtn{
    position: absolute;
    background: rgb(207, 36, 23);
}